In [1]:
import pandas as pd
import numpy as np
import os
import json
import csv
from tqdm import tqdm

In [2]:
# 사전 데이터 불러오기
word_to_id = pd.read_csv("word_to_id.csv", encoding='utf-8')
id_to_word = pd.read_csv("id_to_word.csv", encoding='utf-8')

# 정수화된 문장 데이터 불러오기
standard_data = pd.read_csv("standard_padding.csv", encoding='utf-8')
dialect_data = pd.read_csv("dialect_padding.csv", encoding='utf-8')

In [8]:
word_to_id[:5]

   여기는  10700638
0  옥수수  10717118
1    잘  10717511
2   된다  10715684
3  하던데  10716672
4  말고는  10675427

In [9]:
id_to_word[:5]

   10700638  여기는
0  10717118  옥수수
1  10717511    잘
2  10715684   된다
3  10716672  하던데
4  10675427  말고는

In [5]:
standard_data[:5]

,10700638,10717118,10717511,10715684,10716672,10717118.1,10675427,10715663,10710707,10717709,...,0.20,0.21,0.22,0.23,0.24,0.25,0.26,0.27,0.28,0.29
0,10135625,10612611,10711612,10643598,10717831,10717485,10718033,10715791,10348372,10717485,...,0,0,0,0,0,0,0,0,0,0
1,10708125,10717803,10718041,10717804,10714370,10717900,10694700,10665629,6090666,10718041,...,0,0,0,0,0,0,0,0,0,0
2,10716299,10717709,10694260,10698095,10717753,10686582,10102389,10716299,10694390,10718041,...,0,0,0,0,0,0,0,0,0,0
3,10662115,10716594,10717708,10715174,10717178,10680645,10717770,9524244,10717709,8242795,...,0,0,0,0,0,0,0,0,0,0
4,10533935,10663269,10717976,7917193,10717988,7569853,10717473,10718080,10717461,10716617,...,0,0,0,0,0,0,0,0,0,0

In [7]:
dialect_data[:5]

,10700638,6743233,10588711,10717511,10715684,8853366,6743233.1,10588711.1,10675427,10692618,...,0.16,0.17,0.18,0.19,0.20,0.21,0.22,0.23,0.24,0.25
0,10135625,10612611,10711612,10643598,10717831,10717485,10716389,10715791,10348372,10717485,...,0,0,0,0,0,0,0,0,0,0
1,10708125,10717803,10718041,10717804,10714370,10717900,10694700,10665629,10683980,10632158,...,0,0,0,0,0,0,0,0,0,0
2,10716299,10717709,10694260,10698095,10717753,10686582,10102389,10716299,10694390,10718041,...,0,0,0,0,0,0,0,0,0,0
3,10662115,10716594,10717708,10715174,10717178,10711895,10530854,10717432,9524244,10717709,...,0,0,0,0,0,0,0,0,0,0
4,10671855,10669403,10663269,10713383,8476576,10717988,7569853,10710440,10718080,10717461,...,0,0,0,0,0,0,0,0,0,0

## RNN, LSTM, Transformer 등 여러 가지 모델을 구성할 수 있는 방법이 있는데 우선 LSTM으로 모델을 구성

In [ ]:
import tensorflow as tf
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

from tensorflow.keras import layers
from tensorflow.keras.models import Model
from sklearn.metrics import accuracy_score, precision_score, recall_score
from sklearn.model_selection import train_test_split